<div class="col-sm-5 d-flex justify-content-center">
  <form class="form-horizontal" [formGroup]="loginForm" >
    <h2 >Войти</h2>
    <div class="form-group">
      <label class="control-label col-sm-2" for="login">Login:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="login" placeholder="Введите ваш логин" name="login">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" formControlName="password"  placeholder="Введите ваш пароль" name="password">
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" (click)="onSubmit()" class="btn">Войти</button>
      </div>
    </div>
  </form>
</div>