<div class="col-sm-5 justify-content-center">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" >
    <div class="form-group">
      <label for="login">Login: </label>
      <input type="text" class="form-control" formControlName="login" >
      <ul *ngIf="f.login.errors && submited" class="text-danger">
        <li *ngIf="f.login.errors.required">Обязательное поле</li>
        <li *ngIf="f.login.errors.minlength">Логин должен быть не меньше 5 символов</li>
        <li *ngIf="f.login.errors.maxlength">Логин должен быть не больше 10 символов </li>
      </ul>
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input type="text" class="form-control" formControlName="password" >
      <ul *ngIf="f.password.errors && submited" class="text-danger">
        <li *ngIf="f.password.errors.required">Обязательное поле</li>
        <li *ngIf="f.password.errors.minlength">Пароль должен быть не меньше 5 символов</li>
        <li *ngIf="f.password.errors.maxlength">Пароль должен быть не больше 10 символов </li>
      </ul>
    </div>
    <div class="form-group">
      <p>{{errorMessage}}</p>
      <p *ngIf="loading">Загруска...</p>
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>    
  </form>
</div>